{
    admin off
}

mesacountysar.com

log {
    output stdout
}

route /api* {
    reverse_proxy localhost:4999
}

route /docs/ { 
    root * /home/eiger/SAR-Management/api/doc/
    try_files {path} {path}/ /index.html?{query}
    file_server
}

route * { 
    root * /home/eiger/SAR-Management/api/web/dist
    try_files {path} {path}/ /index.html?{query}
    file_server
}
